doctype html
head
  // Site made with Mobirise Website Builder v4.12.4, https://mobirise.com
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='generator' content='Mobirise v4.12.4, mobirise.com')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
  link(rel='shortcut icon' href='assets/images/logo4.png' type='image/x-icon')
  meta(name='description' content='')
  title Home
  link(rel='stylesheet' href='assets/web/assets/mobirise-icons/mobirise-icons.css')
  link(rel='stylesheet' href='assets/facebook-plugin/style.css')
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap-grid.min.css')
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap-reboot.min.css')
  link(rel='stylesheet' href='assets/tether/tether.min.css')
  link(rel='stylesheet' href='assets/socicon/css/styles.css')
  link(rel='stylesheet' href='assets/theme/css/style.css')
  link(rel='preload' as='style' href='assets/mobirise/css/mbr-additional.css')
  link(rel='stylesheet' href='assets/mobirise/css/mbr-additional.css' type='text/css')
section#header9-0.header9.cid-s9yFtRWN3F.mbr-fullscreen.mbr-parallax-background
  .mbr-overlay(style='opacity: 0.8; background-color: rgb(255, 255, 255);')
  .container
    .media-container-column.mbr-white.col-lg-8.col-md-10
      h1.mbr-section-title.align-left.mbr-bold.pb-3.mbr-fonts-style.display-1
        | FULL SCREEN INTRO
      h3.mbr-section-subtitle.align-left.mbr-light.pb-3.mbr-fonts-style.display-2
        | Beautiful mobile websites
      p.mbr-text.align-left.pb-3.mbr-fonts-style.display-5
        | Click any text to edit or style it. Select text to insert a link. Click blue &quot;Gear&quot; icon in the top right corner to hide/show buttons, text, title and change the block background. Click red &quot;+&quot; in the bottom right corner to add a new block. Use the top left menu to create new pages, sites and add themes.
      .mbr-section-btn.align-left
        a.btn.btn-md.btn-primary.display-4(href='https://mobirise.co') LEARN MORE
        a.btn.btn-md.btn-black-outline.display-4(href='https://mobirise.co') LIVE DEMO
  .mbr-arrow.hidden-sm-down(aria-hidden='true')
    a(href='#next')
      i.mbri-down.mbr-iconfont
section.engine
  a(href='https://mobirise.info/w') free html5 templates
section#counters1-1.counters1.counters.cid-s9yFxRYSse
  .container
    h2.mbr-section-title.pb-3.align-center.mbr-fonts-style.display-2
      | Counters
    h3.mbr-section-subtitle.mbr-fonts-style.display-5
      | Mobirise is a beautiful site constructor
    .container.pt-4.mt-2
      .media-container-row
        .card.p-3.align-center.col-12.col-md-6.col-lg-4
          .panel-item.p-3
            .card-img.pb-3
              span.mbri-mobirise.mbr-iconfont
            .card-text
              h3.count.pt-3.pb-3.mbr-fonts-style.display-2
                | 100
              h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7
                | Unlimited websites
              p.mbr-content-text.mbr-fonts-style.display-7
                | Mobirise give you the freedom to develop as many websites as you like given the fact that it is desktop app. Mobirise is the perfect gide.
        .card.p-3.align-center.col-12.col-md-6.col-lg-4
          .panel-item.p-3
            .card-img.pb-3
              span.mbri-touch-swipe.mbr-iconfont
            .card-text
              h3.count.pt-3.pb-3.mbr-fonts-style.display-2
                | 200
              h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7
                | Trendy websites blocks
              p.mbr-content-text.mbr-fonts-style.display-7
                | Choose from the large selection of latest pre-made blocks - jumbotrons, hero images, parallax scrolling, video backgrounds, hamburger menu, sticky header and more.
        .card.p-3.align-center.col-12.col-md-6.col-lg-4
          .panel-item.p-3
            .card-img.pb-3
              span.mbri-responsive.mbr-iconfont
            .card-text
              h3.count.pt-3.pb-3.mbr-fonts-style.display-2
                | 300
              h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7
                | Bootstrap
              p.mbr-content-text.mbr-fonts-style.display-7
                | One of Bootstrap&apos;s big point is responsiveness and obirise male effective use of this by genereating highly responsive website for you.
section#content9-2.mbr-section.article.content9.cid-s9yFCvRYy4
  .container
    .inner-container(style='width: 100%;')
      hr.line(style='width: 25%;')
      .section-text.align-center.mbr-fonts-style.display-5
        | Mobirise is one of the easiest website development tools available today. It also gives you the freedom to develop as many websites as you like given the fact that it is a desktop app.
      hr.line(style='width: 25%;')
section#features2-3.features2.cid-s9yFEBzNRZ
  .container
    .media-container-row
      .card.p-3.col-12.col-md-6.col-lg-4
        .card-wrapper
          .card-img
            img(src='assets/images/background1.jpg' alt='Mobirise')
          .card-box
            h4.card-title.pb-3.mbr-fonts-style.display-7
              | No Coding
            p.mbr-text.mbr-fonts-style.display-7
              | Mobirise is an easy website builder - just drop site elements to your page, add content and style it to look the way you like. 
              a(href='https://mobirise.co') Learn more...
      .card.p-3.col-12.col-md-6.col-lg-4
        .card-wrapper
          .card-img
            img(src='assets/images/background2.jpg' alt='Mobirise')
          .card-box
            h4.card-title.pb-3.mbr-fonts-style.display-7
              | Mobile Friendly
            p.mbr-text.mbr-fonts-style.display-7
              | All sites you make with Mobirise are mobile-friendly. You don&apos;t have to create a special mobile version of your site. 
              a(href='https://mobirise.co') Learn more...
      .card.p-3.col-12.col-md-6.col-lg-4
        .card-wrapper
          .card-img
            img(src='assets/images/background3.jpg' alt='Mobirise')
          .card-box
            h4.card-title.pb-3.mbr-fonts-style.display-7
              | Unique Styles
            p.mbr-text.mbr-fonts-style.display-7
              | Mobirise offers many site blocks in several themes, and though these blocks are pre-made, they are flexible. 
              a(href='https://mobirise.co') Learn more...
section#form1-6.mbr-section.form1.cid-s9yFSXmZSn
  .container
    .row.justify-content-center
      .title.col-12.col-lg-8
        h2.mbr-section-title.align-center.pb-3.mbr-fonts-style.display-2
          | REGISTRATION FORM
        h3.mbr-section-subtitle.align-center.mbr-light.pb-3.mbr-fonts-style.display-5
          | A mail will be sent to your e-mail address with a password and username.
  .container
    .row.justify-content-center
      .media-container-column.col-lg-8(data-form-type='formoid')
        form#form(method='POST' enctype='multipart/form-data')
          .form-group
            label(for='exampleFormControlInput1') Email address
            input#email.form-control(type='email')
          .form-group
            label(for='exampleFormControlInput1') Vorname
            input#vname.form-control(type='text')
          .form-group
            label(for='exampleFormControlInput1') Nachname
            input#nname.form-control(type='text')
          p Geschlecht
          .form-check
            input#weiblich.form-check-input(type='radio' name='exampleRadios' value='option1')
            label.form-check-label(for='exampleRadios1')
              | Weiblich
          .form-check
            input#mannlich.form-check-input(type='radio' name='exampleRadios' value='option2')
            label.form-check-label(for='exampleRadios1')
              | M&auml;nnlich
          .form-group
            label(for='exampleFormControlFile1') photo
            input#photo.form-control-file(type='file')
          .form-group
            label(for='exampleFormControlSelect1') Klasse
            select#klasse.form-control
              option 5.S&imath;n&imath;f
              option 6.S&imath;n&imath;f
              option 7.S&imath;n&imath;f
              option 8.S&imath;n&imath;f
          .form-group
            label(for='exampleFormControlSelect2') Unterricht
            select#unterricht.form-control(multiple='')
              option T&uuml;rk&ccedil;e
              option Sosyal Bilgiler
              option Tarih
              option Fizik
              option Kimya
              option Biyoloji
              option Matematik
          button.btn.btn-primary(type='submit') Submit
section#social-buttons2-4.cid-s9yFM00q5m
  .container
    .media-container-row
      .col-md-8.align-center
        h2.pb-3.mbr-fonts-style.display-2
          | FOLLOW US!
        .social-list.pl-0.mb-0
          a(href='https://twitter.com/mobirise' target='_blank')
            span.px-2.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
          a(href='https://www.facebook.com/pages/Mobirise/1616226671953247' target='_blank')
            span.px-2.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
          a(href='https://instagram.com/mobirise' target='_blank')
            span.px-2.socicon-instagram.socicon.mbr-iconfont.mbr-iconfont-social
          a(href='https://www.youtube.com/c/mobirise' target='_blank')
          a(href='https://www.behance.net/Mobirise' target='_blank')
section#footer3-5.footer3.cid-s9yFPa6BiH
  .container
    .media-container-row.content
      .col-md-2.col-sm-4
        .mb-3.img-logo
          a(href='https://mobirise.co/')
            img(src='assets/images/logo2.png' alt='Mobirise')
        p.mbr-fonts-style.foot-logo.display-7
          | MOBIRISE
      .col-md-3.col-sm-4
        p.mb-4.mbr-fonts-style.foot-title.display-7
          | RECENT NEWS
        p.mbr-text.mbr-links-column.mbr-fonts-style.display-7
          a.text-black(href='#') About us
          br
          a.text-black(href='#') Services
          br
          a.text-black(href='#') Selected Work
          br
          a.text-black(href='#') Get In Touch
          br
          a.text-black(href='#') Careers
      .col-md-3.col-sm-4
        p.mb-4.mbr-fonts-style.foot-title.display-7
          | CATEGORIES
        p.mbr-text.mbr-fonts-style.mbr-links-column.display-7
          a.text-black(href='#') Business
          br
          a.text-black(href='#') Design
          br
          a.text-black(href='#') Real life
          br
          a.text-black(href='#') Science
          br
          a.text-black(href='#') Tech
      .col-md-4.col-sm-12
        p.mb-4.mbr-fonts-style.foot-title.display-7
          | SUBSCRIBE
        p.mbr-text.form-text.mbr-fonts-style.display-7
          | Get monthly updates and free resources.
        .media-container-column(data-form-type='formoid')
          // -Formbuilder Form-
          form.mbr-form.form-with-styler(action='https://mobirise.com/' method='POST' data-form-title='Mobirise Form')
            input(type='hidden' name='email' data-form-email='true' value='12/LBlLKfUbmVE9uEUvJNEwSn1Xq+mjy8aaIBcKRlDCWoGhm8Sn2Z0yjWTngNOjGH0Sqr+uWD7piILd8FslpzCFo7CqLFf6SrBmPhC6LBj6mTCo+rkbuBGZ9L2IojSl9')
            .row.form-inline.justify-content-center
              .alert.alert-success.col-12(hidden='hidden' data-form-alert='') Thanks for filling out the form!
              .alert.alert-danger.col-12(hidden='hidden' data-form-alert-danger='')
            .dragArea.row.form-inline.justify-content-center
              .col-auto.form-group(data-for='email')
                input#email-footer3-5.form-control.input-sm.input-inverse.my-2.display-7(type='email' name='email' placeholder='Email' data-form-field='Email' required='required')
              .col-auto.input-group-btn.m-2
                button.btn.btn-primary.m-0.display-4(type='submit') Subscribe
          // -Formbuilder Form-
    .footer-lower
      .media-container-row
        .col-sm-12
          hr
      .media-container-row
        .col-sm-6.copyright
          p.mbr-text.mbr-fonts-style.display-7
            | &copy; Copyright 2020 Mobirise - All Rights Reserved
        .col-md-6
          .social-list.align-right
            .soc-item
              a(href='https://twitter.com/mobirise' target='_blank')
                span.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
            .soc-item
              a(href='https://www.facebook.com/pages/Mobirise/1616226671953247' target='_blank')
                span.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
            .soc-item
              a(href='https://www.youtube.com/c/mobirise' target='_blank')
                span.socicon-youtube.socicon.mbr-iconfont.mbr-iconfont-social
            .soc-item
              a(href='https://instagram.com/mobirise' target='_blank')
                span.socicon-instagram.socicon.mbr-iconfont.mbr-iconfont-social
            .soc-item
              a(href='https://plus.google.com/u/0/+Mobirise' target='_blank')
                span.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social
            .soc-item
              a(href='https://www.behance.net/Mobirise' target='_blank')
                span.socicon-behance.socicon.mbr-iconfont.mbr-iconfont-social
script(src='js/index.js')
script(src='assets/web/assets/jquery/jquery.min.js')
script(src='assets/popper/popper.min.js')
script(src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5')
script(src='https://apis.google.com/js/plusone.js')
script(src='assets/facebook-plugin/facebook-script.js')
script(src='assets/bootstrap/js/bootstrap.min.js')
script(src='assets/smoothscroll/smooth-scroll.js')
script(src='assets/parallax/jarallax.min.js')
script(src='assets/viewportchecker/jquery.viewportchecker.js')
script(src='assets/sociallikes/social-likes.js')
script(src='assets/tether/tether.min.js')
script(src='assets/theme/js/script.js')
script(src='assets/formoid/formoid.min.js')
