doctype html
head
  // Site made with Mobirise Website Builder v4.12.4, https://mobirise.com
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='generator' content='Mobirise v4.12.4, mobirise.com')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
  link(rel='shortcut icon' href='assets/images/logo4.png' type='image/x-icon')
  meta(name='description' content='Website Creator Description')
  title Login
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap-grid.min.css')
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap-reboot.min.css')
  link(rel='stylesheet' href='assets/facebook-plugin/style.css')
  link(rel='stylesheet' href='assets/tether/tether.min.css')
  link(rel='stylesheet' href='assets/theme/css/style.css')
  link(rel='preload' as='style' href='assets/mobirise/css/mbr-additional.css')
  link(rel='stylesheet' href='assets/mobirise/css/mbr-additional.css' type='text/css')
section#form1-8.mbr-section.form1.cid-s9yGgjazeB
  .container
    .row.justify-content-center
      .title.col-12.col-lg-8
        h2.mbr-section-title.align-center.pb-3.mbr-fonts-style.display-2
          | CONTACT FORM
        h3.mbr-section-subtitle.align-center.mbr-light.pb-3.mbr-fonts-style.display-5
          | Easily add subscribe and contact forms without any server-side integration.
  .container
    .row.justify-content-center
      .media-container-column.col-lg-8(data-form-type='formoid')
        // -Formbuilder Form-
        form#form
          .form-group
            label(for='exampleInputEmail1') Email address
            input#email.form-control(type='email' aria-describedby='emailHelp')
            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
          .form-group
            label(for='exampleInputPassword1') Password
            input#password.form-control(type='password')
          .form-group.form-check
            input#check.form-check-input(type='checkbox')
            label.form-check-label(for='exampleCheck1') Check me out
          button.btn.btn-primary(type='submit') Submit
        // -Formbuilder Form-
section.engine
  a(href='https://mobirise.info') Mobirise
script(src='assets/web/assets/jquery/jquery.min.js')
script(src='assets/popper/popper.min.js')
script(src='assets/bootstrap/js/bootstrap.min.js')
script(src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5')
script(src='https://apis.google.com/js/plusone.js')
script(src='assets/facebook-plugin/facebook-script.js')
script(src='assets/tether/tether.min.js')
script(src='assets/smoothscroll/smooth-scroll.js')
script(src='assets/theme/js/script.js')
script(src='assets/formoid/formoid.min.js')
script(src='js/login.js')
